name: Pull request integration tests ARM

on:
  push:
    branches: ["main", "release-*"]
    paths:
      - ".github/workflows/pull_request_integration_tests_arm.yml"
      - "**.go"
      - "go.mod"
      - "go.sum"
      - "bpf/**"
      - "cmd/**"
      - "configs/**"
      - "internal/**"
      - "pkg/**"
      - "scripts/**"
  pull_request:
    branches: ["main", "release-*"]
    paths:
      - ".github/workflows/pull_request_integration_tests_arm.yml"
      - "**.go"
      - "go.mod"
      - "go.sum"
      - "bpf/**"
      - "cmd/**"
      - "configs/**"
      - "internal/**"
      - "pkg/**"
      - "scripts/**"

permissions:
  contents: read

jobs:
  test:
    permissions:
      # Required for codecov
      checks: write
      pull-requests: write
      # Required for uploading artifacts
      actions: write
    name: test
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Check initial disk usage
        run: df -h

      - name: Free up disk space
        run: |
          # Remove Java (JDKs)
          sudo rm -rf /usr/lib/jvm

          # Remove .NET SDKs
          sudo rm -rf /usr/share/dotnet

          # Remove Swift toolchain
          sudo rm -rf /usr/share/swift

          # Remove Haskell (GHC)
          sudo rm -rf /usr/local/.ghcup

          # Remove Julia
          sudo rm -rf /usr/local/julia*

          # Remove Android SDKs
          sudo rm -rf /usr/local/lib/android

          # Remove Chromium (optional if not using for browser tests)
          sudo rm -rf /usr/local/share/chromium

          # Remove Microsoft/Edge and Google Chrome builds
          sudo rm -rf /opt/microsoft /opt/google

          # Remove Azure CLI
          sudo rm -rf /opt/az

          # Remove PowerShell
          sudo rm -rf /usr/local/share/powershell

          # Remove CodeQL (but keep hostedtoolcache for Go)
          sudo rm -rf /opt/hostedtoolcache/CodeQL

          docker system prune -af || true
          docker builder prune -af || true
          df -h

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          cache: "false"
          go-version-file: "go.mod"

      - name: Run integration tests
        run: make docker-generate integration-test-arm
        timeout-minutes: 60

      - name: Upload integration test logs
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: always()
        with:
          name: Test Logs
          path: |
            testoutput/*.log
            testoutput/kind

      - name: Report coverage
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: ./testoutput/itest-covdata.txt
          flags: integration-test-arm
